<h1>Burgers</h1>
<div id="fresh-burgers">
<h3>Burgers to be Eaten</h3>

<ul>
    {{#each burger}}
        {{#unless this.devoured}}
         <p data-id="{{ this.id }}">{{this.burger_name}}</p>
         <button data-id="{{ this.id }}" class="devour">Eat it.</button>
        {{/unless}}
    {{/each}}
</ul>

<div id="devoured">
<h3>RIP These Burgers</h3>

<ul>
    {{#each burger}}
        {{#if this.devoured}}
         <p>{{this.burger_name}}</p>
        {{/if}}
    {{/each}}
</ul>

{{!-- <h3>Make Your Own Burger</h3>
<form class="create-form">
    <div class="form-group">
        <lable>Burger Name</lable>
        <input type="text" id="burger_name" name="burger">
    </div>

    <div class="form-group">
        <label>Have you eaten it?</label>
        <input type="radio" name="devoured" value="0" checked>No<br>
        <input type="radio" name="devoured" value="1">Yup
    </div>

    <button type="submit" id="addBurger">Add Burger</button>
</form> --}}
</div>